SECRET_KEY="your-super-secret-key-hard-to-guess-###"
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/omni_iam"
TEST_DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/omni_iam_test"
ALGORITHM="sample"
REDIS_HOST=localhost
REDIS_PORT=6379